.mainOrder_div{
    padding-top: 1rem;
}

.image_td > img{
    max-width: 100px;
}
.subtitle{
    font-size: 1.1rem !important;
    font-weight: bold;
    text-align: start;
}
p > strong{
    font-weight: bold;
}
.order__table{
    margin-top: 2rem;
}
.table_subtitle{
    color: black;
    font-size: 0.9rem;
    font-weight: 510;
    text-transform: capitalize;
}
@media screen and (max-width: 480px) {
    .subtitle{
        font-size: 0.95rem;
        
    }
    .ordinary_p{
        font-size: 0.9rem;
    }
    tr td{
        margin: 0 5 0 0 !important;
        padding: 5px !important;
        text-align: center;
    }
    .order__table{
        margin-top: 1rem;
        overflow: auto;
    }
    .table_subtitle{
        font-size: 0.9rem;
        font-weight: 510;
    }
    .image_td{
        padding: 0.5rem;
    }

    
}