.image_td > img{
    max-width: 100px;
}
.subtitle{
    font-size: 1rem !important;
    font-weight: bold;
}
.summary{
    font-size: 0.9rem !important;
    font-weight: bold;
}
p > strong{
    font-weight: bold;
}
.placeOrder_table{
    margin-top: 2rem;
}
.table_subtitle{
   
    color: black;
    font-size: 0.9rem;
    font-weight: 510;
    text-transform: capitalize;
}
@media screen and (max-width: 480px) {
    .subtitle{
        font-size: 0.95rem;
        
    }
    .ordinary_p{
        font-size: 0.9rem;
    }
    tr td{
        margin: 0 5 0 0 !important;
        padding: 5px !important;
        text-align: center;
    }
    .placeOrder_table{
        overflow: auto;
    }
    .table_subtitle{
        font-size: 0.9rem;
        font-weight: 510;
    }
    .image_td{
        padding: 0.5rem;
    }
    

    
}