
.product__col{
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin: 0  ;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding-top: 15px;
    padding-left: 8px;
    padding-right: 8px ;
    overflow: hidden;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 410px;
    max-height: 410px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
}

.product__img {
    top: 0px !important;
    left: 0;
    right:0;
    bottom: 0;
    bottom: 0 !important;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    object-fit: contain;
    margin-bottom: 15px;

}

.image__div{
    position: absolute;
    top: 15px !important;
    left: 10px;
    right:10px;
    bottom: 45% !important;
}

.product__info {
    position: absolute;
    height: 40%;
    bottom: 0px;
}
.product button {
    background-color: beige;
    border: 1px solid;
    margin-top: 10px;
    border-color: white

}
.product__info > p {
    text-decoration: none;

}
.product__info  a {
    text-decoration: none;

}
.rating span{
    margin: 0.1rem;
}


@media screen and (max-width: 900px){

  
}




@media screen and (max-width: 480px){

      
    .product__col{
        padding: 3px !important;
      
    }



    .product{
        margin: 0px;
        padding: 0;
        width: 100%;
        height: 330px;
        min-width: 100px;
        justify-content: center;
    }        
        
    .product  img {
        height: 150px !important;
        max-height: 150px !important;
        width: 100%;
        object-fit: contain;
        margin-bottom: 5px;
        overflow: hidden;
        top: -20px;
        position: relative;
    
    }
    .product__info {
        height: 100px;
        margin-bottom: -10px;
        padding: 0;
        margin: 0;
    }
    .productPrice__div > p {
        font-size: 0.8rem;
        margin-top: -5px;
    
    }
    .productName__div  a {
        align-items: center;
        font-size: 0.9rem;
        padding: 0;
        margin: 0
    }
    .productName__div{
        height: 50px;

    }
    .productPrice__div{
        height: 25px;
    }
    .product__rating{
        height: 25px;
    }

    .product__reviews {
        font-size: 0.9rem;
    }
    .rating span{
        margin: 0rem;
    }
    

}