.image_Details_description_Row{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.product__name{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;

}

.product_detailsImage {
    max-height: 300px;
    
}
.image__column{
    margin-top: 5rem;
    margin-bottom: 1rem;
}


.quantity_input {
    padding-right: 4rem;
    margin: 0;
    border: 0.5px;
}

.btn__container{
    text-align: center;
}
.div__addButton{
    display: none;
}
.product__nameTitle p{
    font-weight: bold;
    font-size: 3rem;

}
.quantity_row{
    margin-bottom: 10px;

}



.textarea{
    border: none;
    resize: none;
    outline: none;
    
}
.button__div{
    
    display: flex;
    justify-content: start;
    margin-top: 3rem;
}
.Add_to_cart_button{
    border-radius: 10px;
    width: 250px !important;
    height: 45px;
    background: #FFD301;
}
.Add_to_cart_button:hover{
    background: #F1B900 !important;
}

.Add_to_cart_button_text{
    font-size: 20px;
    font-weight: bold;
}
.second_row{
    margin-left:2rem;
    margin-top: 5rem;
}

.Reviews_title{
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
    font-weight: bold;
    font-size: 1.2rem;
}
.subtitle{
    font-size: 1rem;
    font-weight: bold;
}
.create__reviewDiv{
    padding-left: 2rem;
    padding-right: 2rem;
}
.description_heading{
    margin-top: 2rem;
    margin-bottom : 1rem;
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width: 767px){
    .description__column{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .image__column{
        margin-top: 1rem;
    }


}



@media screen and (max-width: 480px){
    .image_Details_description_Row{
        padding-bottom: 0;
    }
    .product__name{
        font-size: 24px;
        text-transform: uppercase;
        font-weight: bold;
    
    }
    .image_Details_description_Row{
        padding: 0;
    }

    .mobile_col_description {
        padding-top: 4rem;
        padding-left: 4rem;
        padding-right: 4rem;

        
    }
    .product-price{
        margin-bottom: 1.3rem;
    }
    .second_row{
        margin-left:0rem;
        margin-top: 1rem;
        margin-bottom: 6rem;
    }

    .addTo__cart {
        bottom: 2rem;
        width: 200px;
        height: 60px;
        position: fixed;
        padding: 0.3rem;
        background: #FFD301;
        border: 0px;
        border-radius: 10px;
        margin-top:0.4rem;
        z-index: 10;
        
    }
    .addTo__cart:hover{
        background: #F1B900 !important;
    }
    .Add_to_cart_button_text{
        font-size:20px;
    }
    .div__addButton{
        display: flex;
        justify-content: center;
    }

    .button__div{
        display: none;
    }
    .image__column{
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .product__DetailsDiv{
        padding-top: 1rem;
        padding-bottom: 0;
    }
  
    .description__column{
        padding-top: 0;
        padding-bottom: 0;
       
        
    }
    .description__column p{
        font-size: 0.9rem;
    }
    .description_heading{
        font-size: 20px;
        font-weight: bold;
       
    }

    .Reviews_title{
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }
    .create__reviewDiv{
        padding-top: 0;
    }
    .create__reviewDiv p{
        font-size: 0.9rem
    }
    .rating__label{
        font-size: 0.85rem;

    }
   
    .subtitle2 {
        font-size: 0.9rem ;
        font-weight: bold;
    }
    .review_button{
        margin-top: 0.3rem;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        background-color: #F1B900;
        border-radius: 8px;

    }
    .reviews{
        margin-top: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    
    
    
}