.profile__div{
    padding-left: 2rem;
    padding-right: 0rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: white;
    margin-top: 2rem;
}
.subtitle{
    margin-top: 1rem;
    font-size: 1.2rem !important;
    font-weight: bold;
    text-align: center;
}
p > strong{
    font-weight: bold;
}
.order_table{
    margin-top: 2rem;
}
.table_subtitle{
    color: black;
    font-size: 0.9rem;
    font-weight: 510;
    text-transform: capitalize;
}
@media screen and (max-width: 480px) {
    .ordinary_p{
        font-size: 0.9rem;
    }
    tr td{
        margin: 0 5 0 0 !important;
        padding: 5px !important;
        text-align: center;
    }
    .order__table{
        margin-top: 1rem;
        overflow: auto;
    }
    .table_subtitle{
        font-size: 0.9rem;
        font-weight: 510;
    }
    .image_td{
        padding: 0.5rem;
    }

    
}


/* -------------------Sodebar--------------------------- */

.profile_sidebar_div{
    margin-top: 2rem;
   

}
.profile_sidebar{
    padding-top: 2rem;
    padding-left: 2rem;
    width: 80%;
    background-color: white;
}

/* -------listgroup--------- */
.profile_listgroup{
    height: 50px;
}
.profile_sidebar_links{
    font-weight: 600;
    font-size: 18px;
}

.LinkSPan{
    margin-top: 20px;
    margin-bottom: 40px;

}

.profile_sidebar_list_group_item{
    border: 0 !important;
}

/* ------------shipping--------------------- */

/* .profile__div {

} */