
html, body {
    overflow-x: hidden;
  }

body {
   margin: 0;
   padding: 0 !important;
   background-color: #f0f1f1 !important;
    max-width: 100% !important;
    overflow-x: none;
  

}

main{
    min-height: 80vh;
    width: 100%;
    max-width: 2000px;
}



/* carousel */
.carousel {
    z-index: 0;
}

.carousel-item-next, 
.carousel-item-next, 
.carousel-item-active {
    display: flex;
} 
.carousel-caption {
    position: absolute;
    top: 0;
}
.carousel-caption h4 {
    color: #fff;
}
.carousel img {
    z-index: -10;
    display: block;
    height: 100vh;
    width: 100%;
    top: 0;
 
}

.homepage2{
    height: 100vh !important;
}


@media (max-width:  800px) {
    .carousel-caption h2 {
        font-size: 2.5vh;
    }
    .product__col{
        padding-left: 10px !important;
        padding-right: 10px !important;
        margin: 0 !important ;
    }
}
    
@media screen and (max-width: 480px){
    .carousel img {
        height: 70vh;
    }

    

}